*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

.hero-container{
    border: 2px solid red;
}

.hero-head{
    border: 2px solid red;
}

.hero-para1,.hero-para2{
    border: 2px solid red;
}

.learn-btn-big{
    border: 2px solid red;
}