@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.nav-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #181818;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

.hero-container{
    border: 2px solid blue;
    width: 100vw;
    height: 90vh;
    /* position: absolute; */
}

.hero-texts{
    border: 1px solid pink;
    padding: 20px;
}

.hero-head{
    border: 2px solid red;
    text-align: center;
}

.hero-para1,.hero-para2{
    border: 2px solid red;
    text-align: center;
}

.learn-btn-big{
    border: 2px solid red;
}

/* Second section */

.second-container{
    border: 2px solid pink;
}